<div class="container">
  <div class="status-booking">
    <h1>Vos réservations</h1>
  <% unless current_user.nanny_offers.empty? then %>
    <p>Vos demandes client :</p>
      <p><%= "Vous avez #{current_user.nanny_offers.last.bookings.count} demande client" %></p>
      <%= current_user.nanny_offers.last.bookings.each do |customer_request| %>
        <p><%= customer_request %></p>
        <br>
      <% end %>
  <% end %>
  <br>
  </div>
  <ul class="inbox">
    <li class="booking-element">
      <img src=<%= asset_path "pauline.jpg"%> alt="" class="avatar-large">
      <div class="booking-element-name">
        <h3>Pauline</h3>
        <p></p>
      </div>
      <div class="booking-element-body">
        <p><strong>Date de réservation: 10/11/2017 - 12/11/2017</strong></p>
        <p>Description des enfants à garder:</p>
      </div>
      <div class="booking-element-status">
        <p class="status pending">En attente</p>
      </div>
    </li>
    <li class="booking-element">
      <img src=<%= asset_path "aurelien.jpg"%> alt="" class="avatar-large">
      <div class="booking-element-name">
        <h3>Aurélien</h3>
        <p></p>
      </div>
      <div class="booking-element-body">
        <p><strong>Date de réservation: 10/11/2017 - 12/11/2017</strong></p>
        <p>Description des enfants à garder:</p>
      </div>
      <div class="booking-element-status">
        <p class="status accepted">Refusée</p>
      </div>
    </li>
    <li class="booking-element">
      <img src=<%= asset_path "clement.jpg"%> alt="" class="avatar-large">
      <div class="booking-element-name">
        <h3>Clément</h3>
        <p></p>
      </div>
      <div class="booking-element-body">
        <p><strong>Date de réservation: 10/11/2017 - 12/11/2017</strong></p>
        <p>Description des enfants à garder:</p>
      </div>
      <div class="booking-element-status">
        <p class="status declined">Acceptée</p>
      </div>
    </li>
  </ul>
  <div><h1></h1></div>
  <div><h1></h1></div>
</div>

<!-- <div class="content">
  <div class="cards-container">
    <div class="mybookingscards">
      <div class="col-md-1">
        <img src='https://kitt.lewagon.com/placeholder/users/alex-felix' class="avatar-large"/>
      </div>
      <div class="col-md-7">
        <div class="booking-card">
        <h4>Pauline</h4>
        <p>2 garçons à garder, besoin d'une nounou qui leur prépare leur goûter à 16h30</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="booking-status">
          <h4></h4>
          <p>Accepté</p>
        </div>
      </div>
      <div class="row"></div>
      <div class="col-md-1">
        <img src='https://kitt.lewagon.com/placeholder/users/alex-felix' class="avatar-large"/>
      </div>
      <div class="col-md-7">
        <div class="booking-card">
        <h4>Pauline</h4>
        <p>2 garçons à garder, besoin d'une nounou qui leur prépare leur goûter à 16h30</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="booking-status">
          <h4></h4>
          <p>Accepté</p>
        </div>
      </div>
      <div class="row"></div>
    </div>
  </div>
</div>
 -->
