<h1>Bookings#index</h1>
<p>Find me in app/views/bookings/index.html.erb</p>



<% unless current_user.nanny_offers.empty? then %>
  <p>Vos demandes client :</p>
    <p><%= "Vous avez #{current_user.nanny_offers.last.bookings.count} demande client" %></p>
    <%= current_user.nanny_offers.last.bookings.each do |customer_request| %>
      <p><%= customer_request %></p>
      <br>
    <% end %>
<% end %>
<br>

<br>
<% unless current_user.bookings.empty? then %>
  <p>Vos réservations effectuées auprès de nourrices :</p>
  <p><%= "Vous avez passé #{current_user.bookings.count} demandes auprès de nourrices" %></p>
    <%= current_user.bookings.each do |my_request| %>
      <p><%= my_request %></p>
      <br>
    <% end %>
<% end %>

