<div class="container">
  <div class="booking-confirmation">
    <h2>Votre réservation est bien confirmée</h2>
  <br>
  <br>
  </div>
</div>


<!-- <p> Client : <%= @booking.user.first_name %> <%= @booking.user.last_name %></p>
<p> Nanny : <%= @booking.nanny_offer.user.first_name %> <%= @booking.nanny_offer.user.last_name %></p>
<p> Prix <%= @booking.nanny_offer.price %> </p>

<p> Date <%= @booking.date %> </p>
 -->
