<div class="container mgt-25">
  <div class="booking-confirmation">
    <h2 class="profil">Réservation <%= @booking.id %> du <%=  @booking.created_at.strftime("%e/%m/%Y") %> </h2>
  </div>
  <% case @booking.status
      when "1" then status = "<span class='status accepted'>Accepté</span>".html_safe
      when "2" then status = "<span class='status pending'>En attente</span>".html_safe
      when "3" then status = "<span class='status declined'>Refusé</span>".html_safe
    end
   %>

  <h4> <%= status %> </h4>
  <p> <b>Parent</b> : <%= @booking.user.first_name %> <%= @booking.user.last_name %></p>
  <p> <b>Nounou</b> : <%= @booking.nanny_offer.user.first_name %> <%= @booking.nanny_offer.user.last_name %></p>
  <p> <b>Prix</b>: <%= @booking.nanny_offer.price %> </p>

  <p> <b>Du</b> : <%= @booking.nanny_offer.start_date.strftime("%e/%m/%Y") %></p>
  <p> <b>Au</b> : <%= @booking.nanny_offer.end_date.strftime("%e/%m/%Y") %></p>
  <p> <%= link_to "Retour à l'offre", nanny_offer_path(@booking.nanny_offer), class: 'btn btn-yours' %></p>
</div>

