<% if current_user.profile_picture.present?
    image_url_profile_picture = current_user.profile_picture
  else
    if current_user.gender === "male"
      image_url_profile_picture = asset_path 'no_profile_picture_male.jpg'
    else
      image_url_profile_picture = asset_path 'no_profile_picture_female.jpg'
    end
    end %>

  <% if current_user.appartment_photo.present?
    image_url_appartment_photo = current_user.appartment_photo
  else
    image_url_appartment_photo = asset_path 'no_appartment_photo.jpg'
    end %>
<div class="container">
   <div class="row">
    <div class="col-xs-6 col-sm-8 col-lg-12">

      <div class="profil profil_user">
        <h1>Mon profil </h1>
        <p>Prénom       : <%= @user.first_name %></p>
        <p>Nom          : <%= @user.last_name %></p>
        <p>Genre        : <%= @user.gender %></p>
        <p>Téléphone    : <%= @user.phone_number %></p>
        <p>Age          : <%= @user.age %></p>
         <%= link_to 'Editer le profil', edit_user_registration_path, class: "btn btn-yours" %>
        <div class="image-user">
         <%= cl_image_tag image_url_profile_picture, height: 100, width: 100, crop: :fill, radius: :max, background: "#F4F4F4" %>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container flat_details">
  <div class="row">
    <div class="col-lg-6">
      <div class="card-flat profil">
        <h1> Appartement</h1>
        <br>
        <p> Equipements  : <%= @user.appartment_equipment %></p>
        <p> Consigne      : <%= @user.appartment_rules %></p>
        <p> Adresse    : <%= @user.appartment_address %></p>
      </div>
    </div>
      <div class="col-lg-6">
        <div class="card-flat" style="background-image: linear-gradient(-225deg, rgba(188, 78, 156, 0.3) 90%, rgba(248, 7, 89, 0.3) 90%), url('<%= cl_image_path image_url_appartment_photo %>');">
         <p></p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container register">
  <div class="col-xs-6 col-sm-8 col-lg-6">
  <%= link_to 'Editer le profil', edit_user_registration_path, class: "btn btn-yours" %>
  </div>
</div> -->



