<div class="profile-page" style="background-image: url('<%= asset_path "supernanny-kid.png"  %>');">
    <div class="container">
    <h3> Mon profil </h3>
    <%= link_to 'Editer le profil', edit_user_registration_path, class: "btn btn-yours" %>
    <br/>
    <br/>
    <p>Prénom       : <%= @user.first_name %></p>
    <p>Nom          : <%= @user.last_name %></p>
    <p>Genre        : <%= @user.gender %></p>
    <p>Téléphone    : <%= @user.phone_number %></p>
    <p>Age          : <%= @user.age %></p>
    <p>Profile pic  : <%= cl_image_tag @current_user.profile_picture, height: 150, width: 200, crop: :fill %></p>
    <p>Appartement  :</p>
    <p>Equipement   : <%= @user.appartment_equipment %></p>
    <p>Règles       : <%= @user.appartment_rules %></p>
    <p>Adresse      : <%= @user.appartment_address %></p>
    <p>Photo        : <%= cl_image_tag @current_user.appartment_photo, height: 300, width: 400, crop: :fill %></p>
  </div>
</div>
