<div class="content">
  <div class="cards-container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-lg-2">
        <div class="nanny-card">
          <div class="card-image" style="background-image: url('<%= asset_path "clement.jpg" %>')";></div>
          <div class="flat-card-content">
            <div class="flat-card-title">
              <h4>Clément</h4>
            </div>
              <p></p>
            </div>

        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-2">
        <div class="card" style="background-image: url('<%= asset_path "adrien.jpg" %>')";>
          Adrien
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-2">
        <div class="card" style="background-image: url('<%= asset_path "aurelien.jpg" %>')";>
          Aurélien
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-2">
        <div class="card" style="background-image: url('<%= asset_path "edouard.jpg" %>')";>
          Edouard
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-2">
        <div class="card" style="background-image: url('<%= asset_path "gabriel.jpg" %>')";>
          Gabriel
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-2">
        <div class="card" style="background-image: url('<%= asset_path "julien.jpg" %>')";>
          Julien
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-2">
        <div class="card" style="background-image: url('<%= asset_path "kevin.jpg" %>')";>
          Kévin
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-2">
        <div class="card" style="background-image: url('<%= asset_path "blondy.jpg" %>')";>
          Blondy
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-2">
        <div class="card" style="background-image: url('<%= asset_path "come.jpg" %>')";>
          Côme
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-2">
        <div class="card" style="background-image: url('<%= asset_path "nicolas.jpg" %>')";>
          Nicolas
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-2">
        <div class="card" style="background-image: url('<%= asset_path "mathieu.jpg" %>')";>
          Mathieu
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-2">
        <div class="card" style="background-image: url('<%= asset_path "jobrann.jpg" %>')";>
          Jobrann
        </div>
      </div>
    </div>
  </div>
</div>

<div id="map">
</div>
</div>
