<div class="content">
  <div class="cards-container">
    <div class="col-xs-12 col-sm-4 col-lg-2">
      <div class="nannycard">
        <div class="nannycard-image" style="background-image: url('<%= asset_path "pauline.jpg" %>')";></div>
        <div class="nannycard-content">
          <h4>Pauline</h4>
          <p>Patiente avec les enfants</p>
        </div>
      </div>
      </div>
    <div class="col-xs-12 col-sm-4 col-lg-2">
      <div class="nannycard">
        <div class="nannycard-image" style="background-image: url('<%= asset_path "aurelien.jpg" %>')";></div>
        <div class="nannycard-content">
          <h4>Aurélien</h4>
          <p>Héros des enfants</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-lg-2">
      <div class="nannycard">
        <div class="nannycard-image" style="background-image: url('<%= asset_path "edouard.jpg" %>')";></div>
        <div class="nannycard-content">
          <h4>Edouard</h4>
          <p>Prépare vos enfants à un entretien</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-lg-2">
      <div class="nannycard">
        <div class="nannycard-image" style="background-image: url('<%= asset_path "gabriel.jpg" %>')";></div>
        <div class="nannycard-content">
          <h4>Gabriel</h4>
          <p>Un vrai papa poule</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-lg-2">
      <div class="nannycard">
        <div class="nannycard-image" style="background-image: url('<%= asset_path "julien.jpg" %>')";></div>
        <div class="nannycard-content">
          <h4>Julien</h4>
          <p>Enseigne à coder à vos enfants</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-lg-2">
      <div class="nannycard">
        <div class="nannycard-image" style="background-image: url('<%= asset_path "sebastien.jpg" %>')";></div>
        <div class="nannycard-content">
          <h4>Sébastien</h4>
          <p>Vos enfants sauront hacker la NSA</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-lg-2">
      <div class="nannycard">
        <div class="nannycard-image" style="background-image: url('<%= asset_path "blondy.jpg" %>')";></div>
        <div class="nannycard-content">
          <h4>Blondy</h4>
          <p>Jeune et dynamique</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-lg-2">
      <div class="nannycard">
        <div class="nannycard-image" style="background-image: url('<%= asset_path "clement_ta.jpg" %>')";></div>
        <div class="nannycard-content">
          <h4>Clément</h4>
          <p>Un papa pédagogue</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-lg-2">
      <div class="nannycard">
        <div class="nannycard-image" style="background-image: url('<%= asset_path "nicolas.jpg" %>')";></div>
        <div class="nannycard-content">
          <h4>Nicolas</h4>
          <p>Maître nageur</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-lg-2">
      <div class="nannycard">
        <div class="nannycard-image" style="background-image: url('<%= asset_path "mathieu.jpg" %>')";></div>
        <div class="nannycard-content">
          <h4>Mathieu</h4>
          <p>Sérieux, homme de confiance</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-lg-2">
      <div class="nannycard">
        <div class="nannycard-image" style="background-image: url('<%= asset_path "clement.jpg" %>')";></div>
        <div class="nannycard-content">
          <h4>Clément</h4>
          <p>Adore jouer avec les enfants</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-lg-2">
      <div class="nannycard">
        <div class="nannycard-image" style="background-image: url('<%= asset_path "jobrann.jpg" %>')";></div>
        <div class="nannycard-content">
          <h4>Jobrann</h4>
          <p>Protecteur et bienveillant</p>
        </div>
      </div>
    </div>
  </div>
<div class="row"></div>


