<div class="content">
  <div class="cards-container">
    <% @nanny_offers.each do |u| %>
    <div class="col-xs-12 col-sm-4 col-lg-2">
      <div class="nannycard">
        <%= link_to(nanny_offer_path(u.id)) do %>
          <% if u.user.profile_picture.present?
              image_url = u.user.profile_picture
            else
              if u.user.gender === "male"
                image_url = asset_path 'no_profile_picture_male.jpg'
              else
                image_url = asset_path 'no_profile_picture_female.jpg'
              end
            end %>
          <div class="nannycard-image" style="background-image: url('<%= cl_image_path image_url, height: 300, width: 400, crop: :fill %>')";>
          </div>
          <div class="nannycard-content">
            <h5><%= u.user.first_name %> <%= u.user.last_name %> </h4>
            <p style="font-weight: thin;"><%= u.user.short_description %></p>
          </div>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
<div class="row"></div>


