<div class="content">
  <div class="cards-container">
    <% @nanny_offers.each do |u| %>
    <div class="col-xs-12 col-sm-4 col-lg-2">
      <div class="nannycard">
        <%= link_to(nanny_offer_path(u.id)) do %>
          <% if u.user.profile_picture.present?
              image_url = u.user.profile_picture
            else
              if u.user.gender === "male"
                image_url = asset_path 'no_profile_picture_male.jpg'
              else
                image_url = asset_path 'no_profile_picture_female.jpg'
              end
            end %>
          <div class="nannycard-image" style="background-image: url('<%= cl_image_path image_url, height: 300, width: 400, crop: :fill %>')";>
          </div>
          <div class="nannycard-content">
            <h4><%= u.user.first_name %> <%= u.user.last_name %> </h4>
            <p>TEST</p>
          </div>
        <% end %>
      </div>
    </div>
    <% end %>

<!--     <div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"></div> -->

    <!-- <div class="col-xs-12 col-sm-4 col-lg-2">
      <div class="nannycard">
        <div class="nannycard-image" style="background-image: url('<%= asset_path "pauline.jpg" %>')";></div>
        <div class="nannycard-content">
          <h4>Pauline</h4>
          <p>Patiente même quand vos enfants n'y arrivent pas</p>
        </div>
      </div>
      </div>
    <div class="col-xs-12 col-sm-4 col-lg-2">
      <div class="nannycard">
        <div class="nannycard-image" style="background-image: url('<%= asset_path "aurelien.jpg" %>')";></div>
        <div class="nannycard-content">
          <h4>Aurélien</h4>
          <p>Héros des enfants</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-lg-2">
      <div class="nannycard">
        <div class="nannycard-image" style="background-image: url('<%= asset_path "edouard.jpg" %>')";></div>
        <div class="nannycard-content">
          <h4>Edouard</h4>
          <p>Prépare vos enfants à un entretien pro</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-lg-2">
      <div class="nannycard">
        <div class="nannycard-image" style="background-image: url('<%= asset_path "gabriel.jpg" %>')";></div>
        <div class="nannycard-content">
          <h4>Gabriel</h4>
          <p>Un vrai enfant pour garder vos enfants</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-lg-2">
      <div class="nannycard">
        <div class="nannycard-image" style="background-image: url('<%= asset_path "julien.jpg" %>')";></div>
        <div class="nannycard-content">
          <h4>Julien</h4>
          <p>Faites vos flashcards !</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-lg-2">
      <div class="nannycard">
        <div class="nannycard-image" style="background-image: url('<%= asset_path "sebastien.jpg" %>')";></div>
        <div class="nannycard-content">
          <h4>Sébastien</h4>
          <p>Du CP à Polytechnique en 9 semaines</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-lg-2">
      <div class="nannycard">
        <div class="nannycard-image" style="background-image: url('<%= asset_path "blondy.jpg" %>')";></div>
        <div class="nannycard-content">
          <h4>Blondy</h4>
          <p>Jeune et dynamique</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-lg-2">
      <div class="nannycard">
        <div class="nannycard-image" style="background-image: url('<%= asset_path "clement_ta.jpg" %>')";></div>
        <div class="nannycard-content">
          <h4>Clément</h4>
          <p>Un papa pédagogue</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-lg-2">
      <div class="nannycard">
        <div class="nannycard-image" style="background-image: url('<%= asset_path "nicolas.jpg" %>')";></div>
        <div class="nannycard-content">
          <h4>Nicolas</h4>
          <p>Maître nageur</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-lg-2">
      <div class="nannycard">
        <div class="nannycard-image" style="background-image: url('<%= asset_path "mathieu.jpg" %>')";></div>
        <div class="nannycard-content">
          <h4>Mathieu</h4>
          <p>Sérieux, homme de confiance</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-lg-2">
      <div class="nannycard">
        <div class="nannycard-image" style="background-image: url('<%= asset_path "clement.jpg" %>')";></div>
        <div class="nannycard-content">
          <h4>Clément</h4>
          <p>Vos enfants apprendront à économiser leur argent</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-lg-2">
      <div class="nannycard">
        <div class="nannycard-image" style="background-image: url('<%= asset_path "jobrann.jpg" %>')";></div>
        <div class="nannycard-content">
          <h4>Jobrann</h4>
          <p>Protecteur et bienveillant</p>
        </div>
      </div>
    </div> -->
  </div>
<div class="row"></div>


