<div>
  <% if @nanny_offer.user.profile_picture.present?
    image_url_profile_picture = @nanny_offer.user.profile_picture
  else
    if @nanny_offer.user.gender === "male"
      image_url_profile_picture = asset_path 'no_profile_picture_male.jpg'
    else
      image_url_profile_picture = asset_path 'no_profile_picture_female.jpg'
    end
    end %>

  <% if @nanny_offer.user.appartment_photo.present?
    image_url_appartment_photo = @nanny_offer.user.appartment_photo
  else
    image_url_appartment_photo = asset_path 'no_appartment_photo.jpg'
    end %>
</div>

  <div class="banner" style="
  background-image: linear-gradient(-225deg, rgba(188, 78, 156, 0.3) 90%, rgba(248, 7, 89, 0.3) 90%), url('<%= cl_image_path image_url_appartment_photo, crop: :fill %>');">
</div>

<div class="container">
  <br>
  <br>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h2>
        <strong><%= @nanny_offer.user.gender === "male" ? "M." : "Mme." %> <%= @nanny_offer.user.last_name  %></strong>
      </h2>

      <div >
        <span class="presentation-text">
          <%=  @nanny_offer.user.first_name %> <%= @nanny_offer.user.last_name  %> | <%= @nanny_offer.user.age %> ans
        </span>
      </div>

      <%#= render "shared/link_page_profil" %>
      <br>

      <div>
        <i class="fa fa-child" aria-hidden="true"></i>
        <span class="custom-icon-text">
          peut garder jusqu'à <%= @nanny_offer.children_capacity %> enfants
        </span><br>
        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
        <span class="custom-icon-text">
          nounou agréée
        </span><br>
        <%= image_tag "lift-icon-nanny-offer-show.png", class: "custom-icon" %>
        <span class="custom-icon-text">
          ascenseur disponible
        </span>
      </div>
      <div>

<!--         <h3 class="title-nanny-offer-show">Commentaires</h3>
 -->
<!--         <#% Review.where(nanny_offer_id: @nanny_offer.id).each do |r| %>
        <p class="commentaires"> nouveaux commentaires des parents </p>
        <p class="paragraph-nanny-offer-show" id="nounou"><%= r.description %></p>
        <#% end %> -->


        <h3 class="title-nanny-offer-show">La Nounou</h3>
        <p class="paragraph-nanny-offer-show" id="nounou">
          <%= @nanny_offer.nanny_description %>
        </p>

        <h3 class="title-nanny-offer-show">L'appartement</h3>
        <p class="paragraph-nanny-offer-show" id="emplacement">
         <%= @nanny_offer.appartment_description %>
        </p>
      </div>
    </div>
    <div class= "col-xs-12 col-md-2">
      <div class="avatar-large"> <%= cl_image_tag image_url_profile_picture, height: 100, width: 100, crop: :fill, radius: :max, background: "#F4F4F4" %>
      </div>
    </div>
    <div>
      <% if user_signed_in? %>
        <% if @nanny_offer.user.id === current_user.id %>
        <%# shows if it's an offer from current use %>
          <div>
            <div class="col-xs-12 col-md-4 calendar">
              <p> <b>Date de début :</b> <%=  @nanny_offer.start_date %></p>
              <p> <b>Date de fin   :</b> <%= @nanny_offer.end_date %></p>
              <p> <b>Prix   :</b> <%= @nanny_offer.price %> €</p>
              <p><%= link_to "Editer l'offre", edit_nanny_offer_path(@nanny_offer), class: "btn btn-yours" %></p>
            </div>
          </div>
        <% else %>
        <%# Vérifie si l'utilisateur a déjà booké cette offre %>
          <% has_booked = false
          booked = 0
          bookings = Booking.where(nanny_offer_id: @nanny_offer.id).map {|o| o}
          bookings.each do |b|
            b.user.id == current_user.id ? has_booked = true : has_booked = false
            booked = b
          end %>

          <% if has_booked %>
            <div class="col-xs-12 col-md-4 calendar">
              <p> <b>Date de début :</b> <%=  @nanny_offer.start_date %></p>
              <p> <b>Date de fin   :</b> <%= @nanny_offer.end_date %></p>
              <p> <b>Prix   :</b> <%= @nanny_offer.price %> €</p>
              <p><%= link_to "Retour à la réservation", booking_path(booked), class: "btn btn-yours" %></p>
            </div>
          <% else %>
            <div>
              <div class="col-xs-12 col-md-4 calendar">
                <h4><strong> Disponibilités de la Nounou</strong></h4>
                <p> <b>Date de début :</b> <%=  @nanny_offer.start_date %></p>
                <p> <b>Date de fin   :</b> <%= @nanny_offer.end_date %></p>
                <p> <b>Prix par jour :</b> <%= @nanny_offer.price %> €</p>
                <br>
                <h4><strong>Votre réservation</strong></h4>
                <%= simple_form_for [@nanny_offer, @booking], method: "post" do |f| %>
                  <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"}, label:"Début" %>
                  <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"}, label:"Fin" %>
                   <%= f.input :children, label:"Nombre d'enfants" %>
                   <%= f.input :short_description, label:"Remarques", placeholder: "Allergies, habitudes alimentaires, médicaments..." %>
                   <%= f.button :submit, "Reserver Maintenant", class: "btn btn-yours" %>
                <% end %>
          <!--       <p><%#= link_to "Reserver Maintenant", new_nanny_offer_booking_path(@nanny_offer), class: "btn btn-yours" %></p> -->
              </div>
            </div>
          <!-- div>
            <div class="col-xs-12 col-md-4 calendar">
              date d'arrivée
              <input class="form-control input-sm" type="text" placeholder="saisissez la date d'arrivée de votre enfant">
              date de départ
              <input class="form-control input-sm" type="text" placeholder="saisissez la date de départ de votre enfant">
              </div>
              <button type="button" class="btn btn-success">Enregistrez</button>
            </div> -->
          <% end %>
        <% end %>
      <% else %>
        <!-- Show if not logged-in -->
        <div>
          <div class="col-xs-12 col-md-4 calendar">
            <p> <b>Date de début :</b> <%=  @nanny_offer.start_date %></p>
            <p> <b>Date de fin   :</b> <%= @nanny_offer.end_date %></p>
            <br>
            <p> <b>Prix   :</b> <%= @nanny_offer.price %> €</p>
            <p style="font-weight: bolder; color: #CF5056"> Connectez-vous à votre compte pour pouvoir réserver</p>
            <%= link_to('Connexion', new_user_session_path, class: "btn btn-yours")  %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>







